%header#top-bar.animated-header.landing-page
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        %a{:href => "http://www.terrapattern.dev:#{settings.port.to_s}"}
          %img{:alt => "", :src => "images/terrapattern_logo_white.png"}
    %nav.navbar.collapse.navbar-collapse.navbar-right{:role => "navigation"}
      .main-menu
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "http://www.terrapattern.dev:#{settings.port.to_s}"}Home
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Cities
              %span.caret
            .dropdown-menu
              %ul
                %li
                  %a{:href => "http://pgh.terrapattern.dev:#{settings.port.to_s}"} Pittsburgh
                %li
                  %a{:href => "http://nyc.terrapattern.dev:#{settings.port.to_s}"}New York
                %li
                  %a{:href => "http://london.terrapattern.dev:#{settings.port.to_s}"}London
          %li
            %a{:href => "http://www.terrapattern.dev/about:#{settings.port.to_s}"}About
          %li
            %a{:href => "http://www.terrapattern.dev/faq:#{settings.port.to_s}"}FAQ
          %li
            %a{:href => "http://www.terrapattern.dev:#{settings.port.to_s}/team"}Team