%section.global-page-header
  .container.header-content
    .row
      .col-md-12
        .block
          %h1 About Terrapattern
          .col-md-8.header-description
            %p.prose A Prototype for Visual Query-by-Example in Satellite Imagery

%section.about
  .container
    .row
      .col-md-12
        = insert_content("about_1_overview")

%section.about.about-grey.about-examples
  .container
    .row
      .col-md-12
        = insert_content("about_2_examples")
        %a#export.btn.btn-default.btn-contact.twitter-button.link{:href => "https://twitter.com/hashtag/terrapattern"} 
          Have you discovered an interesting collection? Please send a tweet with the hashtag 
          %span.twitter-link #terrapattern
          and the URL of your search! &#10132;

%section.about.about-blue
  .container
    .row
      .col-md-12
        = insert_content("about_3_motivation")

%section.about
  .container
    .row
      .col-md-12
        = insert_content("about_4_prototype")

%section.about.about-grey
  .container
    .row
      .col-md-12
        = insert_content("about_5_inspirations")

%section.about.about-blue
  .container
    .row
      .col-md-12
        = insert_content("about_6_how_it_works")
