%section.global-page-header
  .container.header-content
    .row
      .col-md-12
        .block
          %h1 About Terrapattern
          .col-md-8.header-description
            %p.prose A Prototype for Visual Query-by-Example in Satellite Imagery

%section.about
  .container
    .row
      .col-md-12
        = insert_content("about_1_overview")

%section.about.about-grey
  .container
    .row
      .col-md-12
        = insert_content("about_2_examples")

%section.about.about-blue
  .container
    .row
      .col-md-12
        = insert_content("about_3_motivation")

%section.about
  .container
    .row
      .col-md-12
        = insert_content("about_4_prototype")

%section.about.about-grey
  .container
    .row
      .col-md-12
        = insert_content("about_5_inspirations")

%section.about.about-blue
  .container
    .row
      .col-md-12
        = insert_content("about_6_how_it_works")
