%section.global-page-header
  .container
    .row
      .col-md-12
        .block
          %h2 About Terrapattern
          .col-md-8.header-description
            %p.prose A Prototype for Visual Query-by-Example in Satellite Imagery

%section.about-1-overview
  .container
    .row
      .col-md-12
        = insert_content("about_1_overview")

%section.about-2-examples
  .container
    .row
      .col-md-12
        = insert_content("about_2_examples")

%section.about-3-motivation
  .container
    .row
      .col-md-12
        = insert_content("about_3_motivation")

%section.about-4-prototype
  .container
    .row
      .col-md-12
        = insert_content("about_4_prototype")

%section.about-5-inspirations
  .container
    .row
      .col-md-12
        = insert_content("about_5_inspirations")

%section.about-6-how
  .container
    .row
      .col-md-12
        = insert_content("about_6_how_it_works")