- content_for :javascript do
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
  :javascript
    $('window').on("click", "'#down_arrow a", function(e) {
      e.preventDefault();
      $(window).stop(true).scrollTo(this.hash, {duration:1000, interrupt:true});
    })

%section#hero-area.vcenter
  .container
    .row
      .col-md-5
        .block.wow.fadeInUp{"data-wow-delay" => ".3s"}
          %section.cd-intro.hidden-xs
            %h1.wow.fadeInUp.animated.cd-headline.slide{"data-wow-delay" => ".4s"}
              %span TERRAPATTERN
              %br
          .wow.fadeInUp.animated{"data-wow-delay"=>".6s"}
            = insert_content("landing_page_1")
      .col-md-7
        .block.wow.fadeInUp{"data-wow-delay" => ".3s"}
          %img{:alt => "", :height => "100%", :src => "images/worldmap.svg", :width => "100%"}
    .row
      .col-md-12
        .block.wow.fadeInUp{"data-wow-delay" => ".6s"}
          - settings.city_names.each_with_index do |name, id|
            %a.btn-lines.dark.light.smooth-scroll.btn.btn-default.btn-green{:href => subdomain_url(settings.city_urls[id])}= name
    .row#more-cities
      .col-md-12
        .block.wow.fadeInUp.animated{"data-wow-delay" => ".6s"}
          %em More Cities Coming Soon! 
    .row#more-cities
      .col-md-12
        #down_arrow.block.wow.fadeInUp.animated{"data-wow-delay" => ".6s"}
          %a{href: "#landing-page-2"}
            %img{src: "/images/arrow_down.svg"}
%section#landing-page-2
  .container
    .row
      .col-md-12
        .block
          = insert_content("landing_page_2")

%section#landing-page-3
  .container
    .row
      .col-md-12
        = insert_content("landing_page_3")
%section#landing-page-4
  .container
    .row
      .col-md-12
        = insert_content("landing_page_4")
    .row
      .col-md-12
        - settings.city_names.each_with_index do |name, id|
          %a.btn-lines.dark.light.smooth-scroll.btn.btn-default.btn-green{:href => subdomain_url(settings.city_urls[id])}= name
    .row#more-cities
      .col-md-12
        %em More Cities Coming Soon! 