-###################################################
-#   Page-specific CSS
-###################################################

- content_for :css do
  %link{rel:"stylesheet", href:"/css/interface.css"}

-###################################################
-#   Page-specific Javascript
-###################################################

- content_for :javascript do
  :javascript
    var MAPS_API_KEY = "#{ENV["GMAPS_KEY"]}";
    var bounding_box = #{@city_data["bounding_box"].to_json};
    var map_center   = #{@city_data["center"].to_json};
    var boundary     = #{@geojson};

  %script{src: "https://maps.googleapis.com/maps/api/js?key=#{ENV["GMAPS_KEY"]}&callback=terrapatternMap.initialize&libraries=places", async: "async", defer: "defer"}

  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  %script{src: "/js/app.js"}

-###################################################
-#   Page template
-###################################################

.row
  .col-md-12
    #city_info
      %h1= @city_data["name"]
      / = @city_data.inspect
.row
  .col-md-12
    = insert_content("instructions")
.row#map_interface
  .col-md-7
    %input#search_box.controls{type:"text", placeholder: "Search for a location in #{@city_data["name"]}"}
    #main-map
      #map
  .col-md-5
    .container-fluid
      .row
        .col-md-12  
          #results_grid
          #results_pagination
      .row
        .col-md-12
          #tsne_grid