-###################################################
-#   Page-specific CSS
-###################################################

- content_for :css do
  %link{rel:"stylesheet", href:"/css/interface.css"}

-###################################################
-#   Page-specific Javascript
-###################################################

- content_for :javascript do
  :javascript
    var MAPS_API_KEY = "#{ENV["GMAPS_KEY"]}";
    var BOUNDING_BOX = #{@city_data["bounding_box"].to_json};
    var MAP_CENTER   = #{@city_data["center"].to_json};
    var BOUNDARY     = #{@geojson};


  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.0/p5.min.js" charset="utf-8"></script>


  %script{src: "/js/uri.js"}
  %script{src: "/js/download.js"}
  %script{src: "/js/app.js"}

  %script{src: "https://maps.googleapis.com/maps/api/js?key=#{ENV["GMAPS_KEY"]}&callback=terrapatternMap.initialize&libraries=places", async: "async", defer: "defer"}

-###################################################
-#   Page template
-###################################################
- unless @exhibition_mode
  %section.global-page-header
    .container.header-content
      .row
        .col-md-8
          .block
            %h1= @city_data["name"]
            .col-md-8.header-description
              %p.prose= insert_content("interface_subhead", @city_data["name"])
        .col-md-4
          .block.wow.fadeInUp{"data-wow-delay" => ".3s"}
            %img{:alt => "", :height => "100%", :src => "images/worldmap.svg", :width => "100%"}

%section#service-page.pages.service-page{class: (@exhibition_mode ? "exhibit_mode" : "")}
  .container
    .row
      .col-md-7
        = insert_content("interface_instructions_left", @city_data["name"])
      .col-md-5
        = insert_content("interface_instructions_right", @city_data["name"])
    .row#map_interface
      #searching.overlay
        %h4="Searching the #{@city_data["name"]} metro region..."
      .col-md-7
        .block
          .row
            .col-md-12
              %input#search_box.controls{type:"text", placeholder: "Search for a location in the #{@city_data["name"]} metro region"}
              #main-map
                #map
      .col-md-5
        .block
          .row
            .col-md-6
              %h4 Geographical Plot
            .col-md-6
              %h4 Similarity Plot
          .row
            .col-md-12
              #mini_displays
          .row
            .col-md-12
              %h4 Search Results
          .row
            .col-md-12  
              #results_grid
              #results_pagination
- unless @exhibition_mode
  %section#call-to-action
    .container
      .row
        .col-md-12
          .block
            %h3.wow.fadeInDown.export{"data-wow-delay" => ".3s", "data-wow-duration" => "500ms"} Export your results as GeoJSON
            %a#export.btn.btn-default.btn-contact.export-button.wow.fadeInDown{"data-wow-delay" => ".7s", "data-wow-duration" => "500ms", :href => "#"} Export &#10132;
