-###################################################
-#   Page-specific CSS
-###################################################

- content_for :css do
  %link{rel:"stylesheet", href:"/css/interface.css"}

-###################################################
-#   Page-specific Javascript
-###################################################

- content_for :javascript do
  :javascript
    var MAPS_API_KEY = "#{ENV["GMAPS_KEY"]}";
    var BOUNDING_BOX = #{@city_data["bounding_box"].to_json};
    var MAP_CENTER   = #{@city_data["center"].to_json};
    var BOUNDARY     = #{@geojson};

  %script{src: "https://maps.googleapis.com/maps/api/js?key=#{ENV["GMAPS_KEY"]}&callback=terrapatternMap.initialize&libraries=places", async: "async", defer: "defer"}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.0/p5.min.js" charset="utf-8"></script>


  %script{src: "/js/uri.js"}
  %script{src: "/js/app.js"}

-###################################################
-#   Page template
-###################################################

.row
  .col-md-12
    #city_info
      %h1= @city_data["name"]
      / = @city_data.inspect
.row
  .col-md-12
    = insert_content("instructions")
.row#map_interface

  .col-md-7
    .container-fluid
      .row
        .col-md-12
          %h4 Map
      .row
        .col-md-12
          %input#search_box.controls{type:"text", placeholder: "Search for a location in #{@city_data["name"]}"}
          #main-map
            #map
  .col-md-5
    .container-fluid
      .row
        .col-md-6
          %h4 Minmap
        .col-md-6
          %h4 TSNE Grid
      .row
        .col-md-12
          #mini_displays
      .row
        .col-md-12
          %h4 Results
      .row
        .col-md-12  
          #results_grid
          #results_pagination
