!!!
%html
  %head
    / PER-PAGE META --------------------------------------------------
    = yield_content :meta

    / CSS ------------------------------------------------------------
    <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>   
    %link{rel:"stylesheet", href:"/css/bootstrap.min.css"}
    %link{rel:"stylesheet", href:"/css/app.css"}
    = yield_content :css

    =# partial :google_analytics
    
  %body
  = partial "partials/header"
  .container-fluid.main-content
    = yield
  = partial "partials/footer"


  / JAVASCRIPTS -------------------------------------------------------
  %script{src: "/js/jquery.min.js"}
  %script{src: "/js/bootstrap.min.js"}

  = yield_content :javascript