!!!
%html
  %head
    / PER-PAGE META --------------------------------------------------
    %meta{:charset => "utf-8"}
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %link{:href => "images/favicon.ico", :rel => "icon", :type => "image/png"}
    %title Terrapattern
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "keywords"}
    %meta{:content => "", :name => "author"}
    %meta{:content => "telephone=no", :name => "format-detection"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = yield_content :meta

    / CSS ------------------------------------------------------------
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    %link{rel:"stylesheet", href:"/css/animate.css"}
    %link{rel:"stylesheet", href:"/css/main.css"}
    %link{rel:"stylesheet", href:"/css/responsive.css"}
    = yield_content :css

    = partial "partials/google_analytics"

    
  %body
  = partial "partials/header", locals: {alt_header: @use_alt_header}
  = yield
  - if !@use_alt_header && !@exhibition_mode
    = partial "partials/footer"

  / JAVASCRIPTS -------------------------------------------------------
  %script{src: "https://code.jquery.com/jquery-1.12.4.min.js"}
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  %script{src: "/js/wow.min.js"}

  = yield_content :javascript

