- content_for :css do
  %link{rel:"stylesheet", href:"/css/team.css"}


%section.global-page-header
  .container
    .row
      .col-md-12
        .block
          %h2 Our Team and Sponsors
          .col-md-8.header-description
            %p.prose= insert_content("team_introduction")



%section#team
  .container
    .row
      .col-md-4
        .team-member.wow.fadeInLeft{"data-wow-delay" => ".3s", "data-wow-duration" => "500ms"}
          = insert_content("bio_golan")
      .col-md-4
        .team-member.wow.fadeInLeft{"data-wow-delay" => ".5s", "data-wow-duration" => "500ms"}
          = insert_content("bio_david")
      .col-md-4
        .team-member.wow.fadeInLeft{"data-wow-delay" => ".7s", "data-wow-duration" => "500ms"}
          = insert_content("bio_kyle")
    .row
      .col-md-4
        .team-member.wow.fadeInLeft{"data-wow-delay" => ".3s", "data-wow-duration" => "500ms"}
          = insert_content("bio_irene")
      .col-md-4
        .team-member.wow.fadeInLeft{"data-wow-delay" => ".5s", "data-wow-duration" => "500ms"}
          = insert_content("bio_aman")
      .col-md-4
        .team-member.wow.fadeInLeft{"data-wow-delay" => ".7s", "data-wow-duration" => "500ms"}
          = insert_content("bio_manzil")


%section.company-description
  .container
    .row
      .col-md-6.wow.fadeInLeft{"data-wow-delay" => ".3s"}
        %img.img-responsive.center-block.studio-logo{:alt => "", :src => "images/studio_logo.png"}
      .col-md-6
        .block
          = insert_content("bio_studio")
      


%section#feature.acknowledgements
  .container
    .section-heading
      .row#knight_acknowledgement
        .col-md-6.col-md-offset-3
          = insert_content("acknowledgement_knight")
      .row
        .col-md-6.col-md-offset-3
          %img.img-responsive.center-block.knight-logo.wow.fadeInDown{:alt => "", "data-wow-delay" => ".5s", :src => "images/knight.png"}
    .row.grid-acknowledgments
      .col-md-8.col-md-offset-2
        = insert_content("thanks")


%section#call-to-action
  .container
    .row
      .col-md-12
        .block
          %h2.title.wow.fadeInDown.export{"data-wow-delay" => ".3s", "data-wow-duration" => "500ms"} Contact Us
          %p.wow.fadeInDown{"data-wow-delay" => ".5s", "data-wow-duration" => "500ms"}
            We welcome feedback of any kind.
            %br 
            Please feel free to get in touch with us via email at 
            %a{:href => "mailto:contact@terrapattern.com"} contact@terrapattern.com
            or connect with lead investigator
            %a{:href => "https://twitter.com/golan"} @golan
            on Twitter.
